{% extends "Layout.html" %}

{% block title %}
Search Page
{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h3>Search page</h3>
  </div>
  <div class="col">
    <form action="./Booktable" method="post">
      <select class="form-control" name="searchmethod">
        <option value="ISBN">ISBN Number</option>
        <option value="Title">Title of Book</option>
        <option value="Author">Author of Book</option>
      </select><br>
      <label for="Search">Search: </label>
      <input type="text" name="search" autocomplete="off">
      <input type="submit" value="Search">
    </form>
  </div>
</div>
{% endblock %}
